h1 {
  width: 310px;
  height: 77px;
  left: 66px;
  top: 85px;

  font-family: "Pacifico", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #d0ed91 15%, rgba(45, 104, 88, 0) 103.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2 {
  color: #2d6858;
  font-size: 35px;
}

html {
  background-color: white;
}

body {
  margin: 0px 0px 0px 0px;
  width: 600px;
  height: auto;
  background: linear-gradient(0deg, #e6f3ed, #e6f3ed);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
}

#main-screen {
  display: flex;
  flex-direction: row;
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 40px;
}

.container-2 {
  margin-top: 30px;
}

#control {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-top: 10px;
}

.small-icon {
  max-width: 15px;
  max-height: auto;
  object-fit: contain;
}

.duration-clock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upper,
.lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upper {
  height: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
}

.lower {
  height: 30px;
  font-size: 13px;
}

.one-task {
  width: 274px;
  height: 80px;
  border-style: solid;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #59ba89;
  padding: 15px 15px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#save-button {
  display: flex;
  justify-content: flex-end;
}

.tasks {
  margin-top: 90px;
}

.time-content {
  width: 200px;
  height: 220px;
  left: 510px;
  top: 54px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}

#time-left {
  min-width: 100px;
  min-height: 100px;
  border: 5px solid #c8e192;
  border-radius: 50%;
  align-content: center;
  color: #418b77;
  font-weight: 700;
  padding: 0px 0px 0px 0px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-date {
  height: 80px;
  width: 150px;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2d6858;
  margin-top: 10px;
}

.time-hours {
  font-size: 35px;
  height: 38px;
  line-height: 10px;
}
